.divider {
  background-image: url(../img/images/arch-side.webp);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 237px;
    
    img {
      display: block;
      width: 250px;
      height: auto;
    }
  }
}