@media (max-width: 1380px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .field__wrap,
  .arc__wrap {
    background-size: 107% auto;
  }
  .footer__menu {
    width: 80%;
  }
  .footer__top {
    position: relative;
  }
  .footer__diploma {
    position: absolute;
    right: 400px;
    top: 60px;
  }
}
//---------------------------------------------
@media (max-width: 1200px) {
  .arc__img {
    width: 953px;
    height: 200px;
  }
  .arc__text {
    font-size: 20px;
  }
  .arc__wrap {
    padding-top: 100px;
    min-height: 593px;
    background-size: 110% auto;
  }
  .title {
    font-size: 34px;
  }
  .catalog__item {
    width: 300px;
    margin-right: 0;
    
    &--big {
      width: 100%;
      
      .catalog__img {
        width: 422px;
        height: 422px;
      }
      .catalog__title {
        font-size: 22px;
      }
      .catalog__info {
        width: 300px;
      }
    }
  }
  .catalog__list {
    margin-right: 0;
    justify-content: space-around;
  }
  .catalog__img {
    height: 255px;
  }
  .footer__menu {
    width: 60%;
  }
  .footer__menu li {
    width: auto;
    padding-right: 20px;
  }
}
//---------------------------------------------
@media (max-width: 1022px) {
  .logo img {
    width: 127px;
    height: auto;
  }
  .logo strong {
    font-size: 8px;
    bottom: 9px;
    min-width: 130px;
  }
  .logo {
    top: 48px;
  }
  .header__contacts {
    font-size: 10px;
  }
  .header__call {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  .header__price {
    font-size: 12px;
  }
  .header__icon svg {
    width: 20px;
    height: 20px;
  }
  .header__num {
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 15px;
  }
  .arc__img {
    height: 143px;
    width: 680px;
  }
  .arc__text {
    font-size: 16px;
    
    p {
      margin-top: 0;
    }
    p:first-of-type {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
  .arc__wrap {
    padding-top: 80px;
    min-height: 423px;
    background-size: 105% auto;
  }
  .catalog__item {
    width: 198px;
    padding: 15px;
    
    &--big {
      width: 100%;
      
      .catalog__img {
        width: 308px;
        height: 308px;
        margin-bottom: 15px;
      }
      .catalog__btn {
        font-size: 20px !important;
      }
    }
  }
  .catalog__img {
    height: 168px;
    margin-bottom: 15px;
  }
  .catalog__title {
    font-size: 14px;
  }
  .catalog__text {
    font-size: 10px;
  }
  .catalog__price {
    font-size: 20px;
  }
  .catalog__btn {
    font-size: 16px !important;
  }
  .title::after,
  .title::before {
    width: 160px;
    height: 40px;
  }
  .title::after {
    right: 100px;
  }
  .title::before {
    left: 100px;
  }
  .title {
    font-size: 32px;
  }
  .divider .wrapper img {
    width: 160px;
  }
  .divider .wrapper {
    height: 140px;
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
  }
  .footer__diploma {
    right: auto;
    left: 57%;
    
    img {
      width: 88px;
      height: auto;
    }
  }
}
//---------------------------------------------
@media (max-width: 700px) {
  .divider,
  .arc::before,
  .header__block,
  .arc__img,
  .header__contacts,
  .header__call,
  .menu {
    display: none;
  }
  .header__menu {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .header__block--user {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .header__cart {
    margin-left: 0;
  }
  .arc__wrap {
    background-image: none;
    padding: 30px 10px;
    padding-bottom: 10px;
    min-height: auto;
  }
  .arc__text {
    color: #fff;
    font-size: 14px;
  }
  .arc__text p:first-of-type {
    font-size: 24px;
  }
  .main {
    .field__wrap {
      padding-left: 0;
      padding-right: 0;
      background-image: none;
    }
    .title {
      margin-bottom: 20px;
      padding: 0;
      color: #fff;
      font-size: 30px;
      
      &::before,
      &::after {
        width: 80px;
        height: 20px;
        bottom: 10px;
        background-image: url(../../img/images/venzel-white.png);
      }
      &::before {
        left: 50px;
      }
      &::after {
        right: 50px;
      }
    }
  }
  .catalog__list {
    position: relative;
  }
  .catalog__item {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    
    &:first-child {
      display: none;
    }
  }
  .catalog__img {
    width: 313px;
    max-width: 100%;
    height: 313px;
  }
  .catalog__title {
    font-size: 20px;
  }
  .catalog__text {
    font-size: 14px;
  }
  .catalog__price {
    font-size: 24px;
  }
  .field__bottom {
    padding-top: 30px;
    bottom: 0;
    background-image: url(../img/images/bg-header.webp);
    background-repeat: no-repeat;
  }
  .footer::before {
    height: 48px;
    top: -16px;
    background-size: auto 48px;
  }
  .footer {
    padding-top: 0;
    background-position: top -82px center;
    background-size: auto 120%;
  }
  .footer__top {
    padding-top: 20px;
  }
  .footer__logo {
    top: 0;
    left: 0;
    display: block;
    text-align: center;
  }
  .footer__diploma {
    position: static;
    margin-bottom: 20px;
  }
  .footer__logo strong {
    display: block;
    font-size: 18px;
    padding-bottom: 0;
    position: relative;
    top: -30px;
  }
  .footer__logo img {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__menu {
    width: 100%;
    top: 0;
    font-size: 14px;
    margin-bottom: 20px;
    
    li {
      width: 50%;
      padding-right: 0;
      
      &:nth-child(2n + 1) {
        padding-left: 30px;
      }
    }
  }
  .footer .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__feedback {
    font-size: 16px;
  }
  .footer__address {
    font-size: 18px;
    margin-bottom: 0;
    
    a {
      display: block;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  .footer__policy {
    font-size: 18px;
  }
  .footer__venzel {
    position: relative;
    top: -10px;
  }
}